<h1>About Us</h1>
<div class="well">
<p>At Vartaa.in, our goal is to provide our readers access to curated, quality news content about India, from around the world. We hope to do this via a clean, easy-to-use Interface that is free of pesky ads. Above all, we strive to bring to our readers, "News that Matters." We welcome any feedback from readers about the content, design, and features of Vartaa.in. Welcome to a new way to stay updated about India!
</p>
</div>
