@import "bootstrap-sprockets";
@import "bootstrap";
#logo {
	height: 120%;
  	margin-top: -8px;
  	margin-left: 370px;
}
body {
	padding-top: 0px;
	padding-bottom: 0px;
}

.navbar-default {
	background-color: #2C3E50;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 120px;
    height: 120px;
}

.nav-pills,
.navbar-nav li a {
    margin-top: -20px;
}