@import "bootstrap-sprockets";
@import "bootstrap";
#logo {
	height: 80%;
    margin-top: 8px;
    margin-left: -240px;
}

* {
  border-radius: 0 !important;
}

#publication-logo {
	height: 20px;
  	margin-top: 0px;
  	margin-bottom: 4px;
  	margin-left: 0px;
  	margin-right: 6px;
}

body {
	padding-top: 0px;
}

.navbar-brand-centered,
.navbar-nav li a {
	position: absolute;
    left: 50%;
    text-align: center;
    line-height: 120px;
    height: 120px;
}


.nav-pills,
.navbar-nav li a {
	margin-top: 20px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus{
    background-color: #0F75BC;  
        } 

.col-sm-3 {
  margin-left: 0px;
  margin-right: 0px;
}

#text-panel {
 padding-top: 5px; 
}

.panel-footer {
  padding: 0px;
}

.pagination {
  position: fixed;
  right: 0px;
  bottom: 0;
  height: 20px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    color: white;
    background-color: #0F75BC;
    text-align: center;
}

.article-show
{
    padding-bottom: 40px;
}

.search
{
    text-align: right;
}

#color-norm { 
    opacity: 0.4;
    padding-right: 10px;
}

#color-green { 
    color: #77DD77;
    font-weight: bold;
    padding-right: 10px;
}

#color-red { 
    color: #FF6961;
    font-weight: bold;
    padding-right: 10px;
}
